:root {
  --nav-height: 40px; }

body {
  background-color: #F1F4F5;
  margin: 0px;
  padding: 0px; }

.nav {
  overflow: hidden;
  background-color: #dcdcdc;
  position: fixed;
  top: 0;
  width: calc(100% - 40px);
  height: var(--nav-height);
  border-bottom: 1px solid #b6b6b6;
  display: flex;
  justify-content: left;
  padding-left: 20px;
  padding-right: 20px; }
  .nav span {
    margin-top: 11px;
    display: block;
    margin-right: 35px;
    color: blue;
    cursor: pointer; }
    .nav span:hover {
      text-decoration: underline; }

.main {
  width: 100%;
  min-height: calc(100vh - var(--nav-height)); }
  .main__landing {
    padding-top: 100px;
    width: 100%;
    display: flex; }
    .main__landing__description {
      margin-left: 20px;
      margin-right: auto;
      width: 70%; }
      .main__landing__description__header {
        width: 100%;
        text-align: left;
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: 600; }
      .main__landing__description__text {
        padding: 15px;
        border: 1px solid #bfbfc0;
        background-color: #d9e0e3;
        margin-bottom: 30px; }
        .main__landing__description__text li {
          margin-bottom: 15px; }
