:root {
    --nav-height: 40px;
}

body {
    background-color: #F1F4F5;

    margin: 0px;
    padding: 0px;
}

.nav {
    overflow: hidden;
    background-color: #dcdcdc;
    position: fixed;
    top: 0; 
    width: calc(100% - 40px); 
    height: var(--nav-height);

    border-bottom: 1px solid #b6b6b6;

    display: flex;
    justify-content: left;

    padding-left: 20px;
    padding-right: 20px;

    span {
        margin-top: 11px;
        display: block;

        margin-right: 35px;

        color: blue;

        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.main {
    width: 100%;
    min-height: calc(100vh - var(--nav-height));    

    &__landing {
        padding-top: 100px;
        width: 100%;
        display: flex;

        &__description {
            margin-left: 20px;
            margin-right: auto;

            width: 70%;


            &__header {
                width: 100%;
                text-align: left;
                margin-bottom: 15px;

                font-size: 24px;
                font-weight: 600;
            }

            &__text {
                padding: 15px;

                border: 1px solid #bfbfc0;
                background-color: #d9e0e3;

                margin-bottom: 30px;

                li {
                    margin-bottom: 15px;
                }
            }

            &__array {
                padding: 15px;
                max-width: 681px !important;

                border: 1px solid #bfbfc0;
                background-color: #d9e0e3;

                margin-bottom: 30px;

                th {
                    text-align: left;
                    padding-right: 20px;
                    padding-bottom: 10px;
                }

                td {
                    padding-right: 20px;
                }

                a {
                    color: blue;

                    cursor: pointer;
            
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}