<!DOCTYPE html>
<html>
    
<head>
    <title>Przetargi.com</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="nav">
        <span class="nav__element"><a href="/">→ strona główna</a></span>
        <span class="nav__element"><a href="/auctions/active-auctions">→ lista przetargów</a></span>
        <span class="nav__element"><a href="/auctions/inactive-auctions">→ przetargi (zakończone)</a></span>
        <span class="nav__element">→ dodaj przetarg</span>
    </div>

    <div class="main">
        {{{body}}}
    </div>
</body>
</html>
